@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default;
}

@theme inline {
  --background-image-home-hero: url('/hero_train_jump.avif');
  --color-primary-dark: color-mix(in oklab, var(--color-primary), black 10%);
}
